:root {
    --text-dark-color: #ded9d1;
    --text-dark-color: #4b4947;
    --frame-bg-color: #f7f7f7;
}

.img-natural {
    width: auto !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
}

@font-face {
    font-family: 'pokemon';
    src: url('./assets/fonts/Mojang-Regular.ttf')format('truetype');

    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "pokemon";
    color: var(--text-dark-color);
    box-sizing: border-box;
}

header {
    height: 64px;
}

.frame-row {
    display: flex;
    height: 8px;
}

.central-row {
    display: flex;
    align-items: stretch;
}

.frame-corner {
    width: 8px;
    height: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.frame-hori {
    flex-grow: 1;
    background-repeat: repeat-x;
    background-size: auto 8px;
}


.frame-vert {
    width: 8px;
    background-repeat: repeat-y;
    background-size: 8px auto;
}

.tripcard {
    width: calc(33vw - 80px);
}

#center {
    background: white;
    flex-grow: 1;
    min-height: 64px;
    min-width: 64px;
}




@import "tailwindcss";